<!DOCTYPE html>
<html lang="en"
   xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Teszt app</title>
   </head>
   <body>
      <h1>Adatok listázása</h1>
      <h2><a href="/">Kezdőlap</a></h2>
       <form action="/admin/newuser" method="post" autocomplete="off">
         <input type="text" name="nev" placeholder="nev"  />
         <input type="email" name="email" placeholder="email"/>
         <input type="password" name="password" placeholder="password"/>
         <button type="submit" name="submit">Add</button>
         </form>
      <table><tr>
         <th>ID</th>
         <th>NEV</th>
         <th>EMAIL</th>
         </tr>
         <tr th:each="user : ${users}">
            <td th:text="${user.id}">...</td>
            <td th:text="${user.nev}">...</td>
            <td th:text="${user.email}">...</td>
            <td><a th:href="'/admin/deleteuser?id='+${user.id}">Törlés</a></td>
         </tr>
      </table>
   </body>
</html>